*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
text-align: center;
}


.cardHighlight {
  min-height: 100%;
}

body, html {
  height: 100%;
}

.home-banner {
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}





